.product{
    width: 250px;
    height: 400px;
    box-shadow: 5px 5px 5px 5px #888888;
    border-radius: 10px;
    margin-left: 30px;
    padding: 10px;
}
.product img{
    width: 220px;
    height: 220px;

}
.products-conatainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}