.product{
    width: 250px;
    height: 420px;
    box-shadow: 5px 0px 5px 5px #888888;
    border-radius: 10px;
    margin-left: 30px;
    padding: 10px;
    position: relative
}
.product img{
    width: 220px;
    height: 220px;

}
.products-conatainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.btn-cart {
    padding: 8px 20px;
    border-radius: 10;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn-cart p{
    margin-right: 5px;
}
.btn-cart:hover {
    border: none;
    color: white;
    background-color: brown;
    border-radius: 10;
    
     
    
}